# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/lib_encryption/.cxx/
/lib_encryption/build/
/lib_encryption/build/intermediates/javac/debug/classes/
.idea
/lib_tool/.cxx/
/lib_tool/build/
