<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.kalu.safetools">

    <application android:allowBackup="false">

        <provider
            android:name="lib.kalu.safetools.SafeContentProvider"
            android:authorities="${applicationId}.safetools.contentprovider"
            android:exported="false" />

    </application>

</manifest>